<div class="row" style="margin-left:0; margin-right: 0">
  <div class="col-xs-12" *ngIf="!done">
    <div class="col-xs-6 col-xs-offset-3">
      <h2 align="center">Make your purchase</h2>
      <h5 align="center">Choose the items to add to your cart</h5>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
      <div class="col-xs-6" *ngFor="let item of listItems; let i = index" (click)="addItem(item)">
        <div class="col-xs-6">
          <p>{{item.name}}</p>
        </div>
        <div class="col-xs-6">
          <p>$ {{item.price}}</p>
        </div>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1" *ngIf="cart.length > 0">
      <div class="col-xs-10 col-xs-offset-1">
        <h3>Here are the items you chose</h3>
      </div>
      <div class="col-xs-10 col-xs-offset-1">
          <div class="col-xs-4">
            <h5>Item Name</h5>
          </div>
          <div class="col-xs-4">
            <h5>Price per item</h5>
          </div>
          <div class="col-xs-4">
            <h5>Amount</h5>
          </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1" *ngFor="let item of cart; let i = index">
          <div class="col-xs-4">
            <p>{{item.name}}</p>
          </div>
          <div class="col-xs-4">
            <p>$ {{item.price}}</p>
          </div>
          <div class="col-xs-4">
            <p>{{item.amount}}</p>
          </div>
      </div>
      <div class="col-xs-10 col-xs-offset-1">
        <h4>Your total is $ {{total}} <button (click)="showForm()">Checkout</button></h4>
      </div>
    </div>
    <div class="col-xs-10 col-xs-offset-1" *ngIf="formShow">
      <h4 align="center">Here is your credit card form</h4>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
          <div class="col-xs-4 col-xs-offset-2">
              <input name="name" ngModel required #name="ngModel" class="inputForm" placeholder="Name on the Card">
          </div>
          <div class="col-xs-4 col-xs-offset-2">
              <input name="CC" ngModel required #CC="ngModel" class="inputForm" placeholder="Card Number">
          </div>
          <div class="col-xs-4 col-xs-offset-2">
              <input name="exp" ngModel required #exp="ngModel" class="inputForm" placeholder="Expiration Date">
          </div>
          <div class="col-xs-4 col-xs-offset-2">
              <input name="CVC" ngModel required #CVC="ngModel" class="inputForm" placeholder="CVC">
          </div>
          <div class="col-xs-4 col-xs-offset-2">
              <input name="address" ngModel required #address="ngModel" class="inputForm" placeholder="Address">
          </div>
          <div class="col-xs-4 col-xs-offset-2">
              <input name="zip" ngModel required #zip="ngModel" class="inputForm" placeholder="Zip Code">
          </div>
          <div class="col-xs-6 col-xs-offset-2">
            <button>Submit</button>
          </div>
        </form>
    </div>
  </div>
  <div class="col-xs-12" *ngIf="done">
      <h3>Congratulations! You have successfully checked out</h3>
    </div>
</div>